.vscode/

# blockchain
blockchain/lib/
blockchain/foundry.toml
blockchain/.gitmodules
blockchain/.github/workflows/
blockchain/.gitignore


# Backend ptau
backend/zk/zk-circuits/ptau


# libraries
node_modules/


