.vscode/

# blockchain
blockchain/artifacts/
blockchain/lib/
blockchain/foundry.toml
blockchain/.gitmodules
blockchain/.github/workflows/
blockchain/.gitignore

# Circuits
circuits/ptau/
circuits/build/

# Banks private data
bank_data/raw/
bank_data/hashed/
bank_data/hash-to-record/
bank_data/record-to-wallets/

# Backend - pdata
backend/pdata/incomes/
backend/pdata/risks/

# Backend - zk-inputs + pot + builds
backend/zk/zk-circuits/
backend/zk/zk-inputs/

backend/pdata/incomes
backend/pdata/risks

# MPC inputs/results
MP-SPDZ/mpc-results/
MP-SPDZ/Player-Data/

# libraries
node_modules/


