.vscode/

# blockchain - dependencies and builds
blockchain/artifacts/
blockchain/lib/
blockchain/foundry.toml


# blockchain - Git-related configs
blockchain/.gitmodules
blockchain/.github/workflows/

# Circuits
circuits/ptau/
circuits/build/

# Private data
bank_data/

# MPC inputs/results
MP-SPDZ/mpc-results/
MP-SPDZ/Player-Data/

# libraries
node_modules/
package-lock.json
package.json


